# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

zeus-common/target
zeus-core/target
zeus-web/target
zeus-common/user-common.iml
zeus-core/user-core.iml
zeus-web/user-web.iml
zeus.iml
.idea/
log/
