# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

user-common/target
user-core/target
user-web/target
user-common/user-common.iml
user-core/user-core.iml
user-web/user-web.iml
user.iml
.idea/
log/
